* {
    box-sizing: border-box;
    }
  
  body {
    font-family: Arial;
    color: #2A2A2A;
    margin-left: 33%;
    padding-right: 8;
  }
  
  .navbar {
    background-color: #777;
    color: white;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
  }
  
  .nav-header {
    font-size: 1.3rem;
    margin: .5rem;
    text-align: center;
  }
  
  .navbar a {
    text-decoration: none;
    padding: 8px 8px 5px 0px;
    display: block;
    justify-content: center;
    text-align: left;
    font-size: 17px;
    color: white;
  }
  
  .navbar a:hover {
    background-color: #999;
    border-radius: 10px;
  }
  
  .navbar ul {
    list-style: none;
  }
  
  div {
    background-color: #e6e6e6;
  }
  
  header {
    font-weight: bold;
  }
  
  p {
    font-style: italic;
    font-size: 14px;
  }
  
  @media screen and (max-height: 450px) {
    .navbar {padding-top: 15px;}
    .navbar a {font-size: 15px;}
  }